<h3>@c</h3>
<%= debug @session[:api_client] %>

<h3>@ticket</h3>
<%= debug @session[:ticket] %>
<h3>@counter</h3>
<%= debug @session[:counter] %>
<h3>@me</h3>
<%= debug @session[:me] %>
<h3>@roster</h3>
<%= debug @session[:roster] %>
<h3>@high_counter</h3>
<%= debug @session[:high_counter] %>
